@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@1,800&display=swap');

@font-face {
    font-family: Rebel;
    src: url('../fonts/Rebel.otf');
}
* {
    font-family: 'Manrope', sans-serif;
}
html,
body {
    overflow-x: hidden;
    background: #172b21;
}
body {
    background: fff;
    margin: 0;
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    text-align: justify;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    flex-wrap: wrap;
    /* background: linear-gradient(
        0deg,
        rgba(3, 134, 69, 1) 45%,
        rgba(3, 143, 74, 1) 100%
    ); */
    background: #0a7b43;
    background: #0566ad;
}
header .top {
    flex: 1 0 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    background: #066a39;
}

header .top .links {
    display: flex;
    justify-content: flex-end;
    padding: 7px 0;
    gap: 1em;
}
header .top .links a {
    flex: 0 1 40px;

    text-align: center;
    color: #f1f0d2;
    display: flex;
    align-items: center;
}

.top .dropdown {
    padding: 12px 18px 12px 12px;
    font-size: 0.7rem;
}
.top .dropdown > a {
    display: inline-flex;
    align-self: center;
    gap: 1em;
    /* font-size: 13px; */
    font-weight: 600;
    color: #afddff;
    color: #f1f0d2;
}
.top .dropdown a i {
    z-index: 2;
    /* font-size: 20px; */
    transition: 0.3s ease;
}
.top .dropdown ul {
    background: #0566ad;
    position: absolute;
    padding: 0;
    margin: 0;
    top: -210px;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.7s ease;
    border: 1px solid #2874ac;
}
.top .dropdown ul li:not(:last-child) {
    border-bottom: 1px solid #2874ac;
}
.top .dropdown ul li a {
    display: flex;
    align-items: center;
    height: 37px;
    padding: 0 4em 0 2em;
    color: #aec4d4;
}

.top .dropdown.active ul {
    top: 0;
    opacity: 1;
}
.top .dropdown.active a i {
    transform: rotate(180deg);
    color: #fff;
}

.top .dropdown ul li a.active {
    color: #fff;
    font-weight: 600;
}

header .logo-wrapper {
    position: absolute;
    top: -40px;
    left: 18px;
    left: 0;
    width: 135px;
    /* transform: skewY(10deg); */
    box-shadow: -6px 3px 10px #00000029;
    background-color: #097b44;
    z-index: 200;
    transition: top 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 119px;
    height: 123px;
    /* padding: 0 1em; */
}

header .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* transform: skewY(-10deg); */
}

nav ul {
    list-style: none;
    background: #172b21;
    position: absolute;
    right: -100vw;
    height: 100vh;
    padding-left: 0;
    margin: 0;
    transition: all ease 0.3s;
    width: 100vw;
}

nav ul li {
    border-bottom: 1px solid #343434;
}
nav ul li.soc-med {
    position: fixed;
    bottom: 0;
    border: 0;
    width: 100%;
}

nav ul li.soc-med .links {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    padding-right: 1em;
    padding: 1em;
    gap: 2em;
    background: #002a15;
}
nav ul li.soc-med .links a {
    text-align: center;
    font-size: 30px;
    color: #bcdccc;
}
nav ul li > a {
    padding-left: 2em;
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    color: #898985;
}
nav ul li > a.active {
    color: #fff;
}

nav .backdrop {
    position: absolute;
    background: #1c1a1a82;
    width: 100vw;
    height: 100vh;
    left: 0;
    display: none;
}
nav.active .backdrop {
    display: block;
}

.tape {
    height: 30px;
    /* background: url(/img/sub-logo.png) #0566ad; */
    background: url(/img/sub-logo.png) #000;
    background-repeat: repeat-x;
    background-position-y: center;
    background-size: 50px 10px;
    background-repeat: repeat-x space;
    position: sticky;
    top: 75px;
    z-index: 2;
}

section {
    padding: 2em 2em 4em;
    background: #fff;
}

#banner {
    padding: 0;
    margin-bottom: 2em;
}
.section-title {
    color: #707072;
    /* position: sticky;
    top: 72px; */
    z-index: 1;
    line-height: 2;
    margin: 0;
    background: #fff;
    margin-bottom: 1em;
}

section h4,
section h3,
section h2 {
    margin: 0;
}

.tabs {
    display: flex;
    align-items: center;
    background: #fff;
    /* position: sticky;
    top: 108px; */
}
.tab {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #776060;
    text-decoration: none;
    flex: 1 1 25%;
    text-transform: capitalize;
    font-size: 0.725rem;
    transition: transform 0.3s ease;
    height: 70px;
    border-bottom: 1px solid #ffe9ea;
    text-align: center;
}

.tab .icon {
    font-size: 18px;
}

.tab.active {
    border-bottom: 0;
    position: relative;
    font-weight: 600;
    color: #200;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
.slick-dots {
    /* background: #038645; */
    background: #0566ad;
    padding: 1em 0 !important;
    bottom: -56px !important;
}

.slick-dots li button:before {
    /* opacity: 1 !important; */
    color: #fff !important;
}

.slider {
    display: flex;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.slider .slide {
    scroll-snap-align: start;
    flex: 1 0 100%;
}

.item {
    padding: 1em 3em;
    display: flex;
    align-items: center;
    position: relative;
}

.item-info p {
    margin: 0;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.2;
    position: relative;
    color: #200;
}

.item-name {
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    color: #bf151d;
    margin-bottom: 5px;
    font-weight: 400;
}
.item-price {
    color: #a8aa00;
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-left: 5px;
    line-height: 1;
    font-weight: 100;
}

.item-info {
    margin: 0;
    font-size: 0.825rem;
    line-height: 1.2;
    position: relative;
    color: rgb(181, 129, 129);
    font-weight: 100;
    flex: 1;
}

.item-model {
    flex: 0 1 auto;
    position: relative;
    display: grid;
    place-items: center;
}
.item-img {
    width: 100%;
    position: relative;
    transition: 0.3s ease;
    max-width: 200px;
}
.item-splash {
    display: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.03;
    transition: 0.3s ease;
}

.item:nth-child(even) {
    /* flex-direction: row-reverse; */
    /* background-color: rgba(255, 204, 204, 0.56); */
}

.item:nth-child(even) .item-splash {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.item:hover {
    box-shadow: 0 0px 10px #ffb6b661;
}
.item:hover .item-splash {
    opacity: 0.08;
}

.item:hover .item-img {
    transform: scale(1.1);
}

#process {
    padding: 2em 0;
    background-color: #0a7b43;
    background-color: #066a39;
}
#process .section-title {
    padding-left: 20px;
    background-color: transparent;
    color: #fff;
}
#process .content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}
#process .content .card {
    padding: 1em;
    width: 100%;
}

#process .content .card-title {
    font-family: 'Poppins', sans-serif;
    color: #f1f0d2;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-style: italic;
    /* clip-path: polygon(0% 0, 100% 0, 90% 100%, 0% 100%); */
    width: 79%;
    margin: 0 auto;
    text-shadow: 1px 2px 1px #00000078;
}
#process .content .p-extend {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    font-size: 0.825rem;
    background: #0566ad;
    color: #f1f0d2;
    box-shadow: -1px 2px 7px #022514a6;
}

#process .content p {
    color: #4fe49b;
    font-size: 14px;
    padding: 0 2em;
}

#gallery .content {
    display: flex;
    gap: 1em;
    width: 100%;
    /* overflow-x: auto; */
    flex-wrap: wrap;
}
#gallery .content > div {
    flex: 0 1 30%;
}
#gallery .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-us {
    padding-bottom: 2em;
}
#about-us .section-title {
    font-family: 'Rebel';
    font-weight: 700 !important;
    text-align: center;
    font-size: 2rem;
    margin: 1em 0;
    color: #000;
}
#about-us .content p {
    color: #707072;
    font-size: 14px;
    word-break: keep-all;
}

#sponsors {
    /* background-color: #000; */
    padding-bottom: 2em;
}
.sponsor-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 0;
}
.sponsor-logos img {
    flex: 1 1 30%;
    object-fit: contain;
    width: 50px;
    height: 100%;
}
.sponsor-logos img:first-child,
.sponsor-logos img:last-child {
    filter: saturate(0%) brightness(0%) contrast(100%);
}
.sponsor-logos img:hover {
    transform: scale(1.2);
}
footer {
    background: #172b21;
    padding: 4em 1em;
}

footer * {
    color: #a1a4a7;
}
footer p {
    font-size: 0.725rem;
}

footer h5 {
    margin: 0;
}
footer a {
    text-decoration: none;
}
footer ul {
    list-style: none;
    padding: 0;
}

footer .title,
footer .company {
    color: #fff;
}

footer .content {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

footer .content > div {
    flex: 1 0 45%;
}

footer .shortcut-links,
footer .contact {
    font-size: 0.825rem;
}

footer .links {
    display: flex;
}
footer .links a {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
}

.table {
    width: 100%;
    font-size: 0.725rem;
    text-align: center;
}
.table th {
    padding: 0.3rem 0.5rem !important;
}
.table td {
    padding: 0.3rem 0.5rem !important;
}
.table TH {
    padding: 0.7rem !important;
}
.td-country {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.td-country * {
    flex: 0;
}
.td-country img {
    /* width: 10px; */
    flex: 1;
    max-width: 30px;
}

.image-view {
    position: fixed;
    z-index: 100;
    top: 0;
    display: none;
    height: 100vh;
    background-color: #000000de;
}

.image-view.active {
    display: grid;
    place-items: center;
}

.image-view img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.slick-slider .slide {
    position: relative;
    width: 100%;
    /* height: 450px; */
}

.slick-slider .slick-prev {
    top: 50%;
    left: 20px;
    z-index: 1;
}
.slick-slider .slick-next {
    top: 50%;
    right: 20px;
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
    font-size: 30px;
    opacity: 0.5;
    font-family: inherit;
}

.slick-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slick-slider img.black {
    filter: saturate(0%) brightness(0%) contrast(100%);
}

.slick-slider .slick-next {
    top: 50%;
    right: 30px;
}
.slick-slider .slick-prev {
    top: 50%;
    left: 0;
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
    font-size: 80px;
    opacity: 1;
    font-family: inherit;
}
.slick-prev:before {
    content: '<' !important;
}
.slick-next:before {
    content: '>' !important;
}

.logo-slider img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.sidebar-active {
    overflow: hidden;
}
.sidebar-active .top {
    /* background: #0566ad; */
}
.menu-icon rect {
    fill: #fff;
}
/* .sidebar-active .menu-icon rect {
    fill: #000;
} */

.sidebar-active nav ul {
    right: 0;
}
.sidebar-active .logo-wrapper {
    /* top: -190px; */
}
