@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}
html,
body {
    overflow-x: hidden;
}
body {
    background: fff;
    margin: 0;
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
    background-color: #fff;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    text-align: justify;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #038645;
    flex-wrap: wrap;
}
header .top {
    flex: 1 0 100%;
    background: #fff;
    display: flex;
    justify-content: flex-end;
}
header .top .links {
    display: flex;
    justify-content: flex-end;
    /* gap: 1em; */
}
header .top .links a {
    flex: 0 1 40px;
    font-size: 25px;
    text-align: center;
    color: #046133;
}

.top .dropdown {
    padding: 12px 18px 12px 12px;
}
.top .dropdown a {
    display: inline-flex;
    align-self: center;
    gap: 1em;
    font-size: 13px;
    font-weight: 600;
    color: #0566ad;
}
.top .dropdown a i {
    z-index: 1;
    font-size: 16px;
    transition: 0.3s ease;
}
.top .dropdown ul {
    background: #fff;
    position: absolute;
    padding: 0;
    margin: 0;
    top: -210px;
    right: 0;
    transition: 0.3s ease;
}
.top .dropdown ul li {
    border-bottom: 1px solid #e4e6ed;
}
.top .dropdown ul li a {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 2em;
    color: #cdcdce;
}

.top .dropdown.active ul {
    top: 0;
}
.top .dropdown.active a i {
    transform: rotate(180deg);
}

.top .dropdown ul li a.active {
    color: #0566ad;
}

header .logo-wrapper {
    position: absolute;
    top: -40px;
    left: 18px;
    width: 80px;
    height: 130px;
    transform: skewY(10deg);
    box-shadow: -6px 3px 10px #00000029;
    background-color: #0566ad;
    z-index: 200;
    transition: 0.5s ease-in-out;
    display: grid;
    place-items: center;
    padding: 0 1em;
}

header .logo {
    /* color: #000; */

    /* width: 40px; */
    margin-top: 3em;
    width: 100%;
    height: 50%;
    object-fit: contain;
    transform: skewY(-10deg);
}

nav ul {
    list-style: none;
    background: #038645;
    position: absolute;
    right: -100vw;
    height: 100vh;
    padding-left: 0;
    margin: 0;
    transition: all ease 0.3s;
    width: 100vw;
    background: linear-gradient(
        0deg,
        rgba(3, 134, 69, 1) 45%,
        rgba(3, 143, 74, 1) 100%
    );
}

nav ul li {
    border-bottom: 1px solid #009a4e;
}
nav ul li a {
    padding-left: 2em;
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    color: #bcdccc;
}

nav .backdrop {
    position: absolute;
    background: #1c1a1a82;
    width: 100vw;
    height: 100vh;
    left: 0;
    display: none;
}
nav.active .backdrop {
    display: block;
}

.tape {
    height: 30px;
    /* background: url(/img/sub-logo.png) #0566ad; */
    background: url(/img/sub-logo.png) #000;
    background-repeat: repeat-x;
    background-position-y: center;
    background-size: 50px 10px;
    background-repeat: repeat-x space;
    position: sticky;
    top: 75px;
    z-index: 2;
}

section {
    padding: 2em 2em 4em;
}

#brochure {
    padding: 0 0 0;
}

.section-title {
    color: #707072;
    /* position: sticky;
    top: 72px; */
    z-index: 1;
    line-height: 2;
    margin: 0;
    background: #fff;
    margin-bottom: 1em;
}

section h4,
section h3,
section h2 {
    margin: 0;
}

#banner {
    /* display: flex; */
    width: 100%;
    padding: 2em 2em 1em;
}

#banner .content {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    width: 100%;
    align-items: center;
}

#banner .content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner .title {
    color: #efeed0;
    color: #0566ad;
    text-shadow: 1px 1px 1px #074b2a;
}
#banner .sub-title {
    color: #8f8e77;
    color: #db2727;
}

#banner .sponsors {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 1em;
    padding: 2em 0;
}
#banner .sponsors img {
    flex: 1 1 25%;

    object-fit: contain;
    width: 50px;
    height: 100%;
}
#banner .sponsors img:last-child {
    filter: saturate(0%) brightness(0%) contrast(100%);
}

.tabs {
    display: flex;
    align-items: center;
    background: #fff;
    /* position: sticky;
    top: 108px; */
}
.tab {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #776060;
    text-decoration: none;
    flex: 1 1 25%;
    text-transform: capitalize;
    font-size: 0.725rem;
    transition: transform 0.3s ease;
    height: 70px;
    border-bottom: 1px solid #ffe9ea;
    text-align: center;
}

.tab .icon {
    font-size: 18px;
}

.tab.active {
    border-bottom: 0;
    position: relative;
    font-weight: 600;
    color: #200;
}

.slider {
    display: flex;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.slider .slide {
    scroll-snap-align: start;
    flex: 1 0 100%;
}

.item {
    padding: 1em 3em;
    display: flex;
    align-items: center;
    position: relative;
}

.item-info p {
    margin: 0;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.2;
    position: relative;
    color: #200;
}

.item-name {
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    color: #bf151d;
    margin-bottom: 5px;
    font-weight: 400;
}
.item-price {
    color: #a8aa00;
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-left: 5px;
    line-height: 1;
    font-weight: 100;
}

.item-info {
    margin: 0;
    font-size: 0.825rem;
    line-height: 1.2;
    position: relative;
    color: rgb(181, 129, 129);
    font-weight: 100;
    flex: 1;
}

.item-model {
    flex: 0 1 auto;
    position: relative;
    display: grid;
    place-items: center;
}
.item-img {
    width: 100%;
    position: relative;
    transition: 0.3s ease;
    max-width: 200px;
}
.item-splash {
    display: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.03;
    transition: 0.3s ease;
}

.item:nth-child(even) {
    /* flex-direction: row-reverse; */
    /* background-color: rgba(255, 204, 204, 0.56); */
}

.item:nth-child(even) .item-splash {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.item:hover {
    box-shadow: 0 0px 10px #ffb6b661;
}
.item:hover .item-splash {
    opacity: 0.08;
}

.item:hover .item-img {
    transform: scale(1.1);
}

#process {
    padding: 2em 0.2em;
}
#process .section-title {
    padding-left: 20px;
}
#process .content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}
#process .content .card {
    padding: 1em;
    width: 100%;
}

#process .content .card-title {
    background-color: #0566ad;
    color: #fff;
    padding: 0.5em 1em;
    clip-path: polygon(0% 0, 100% 0, 90% 100%, 0% 100%);
    width: 200px;
    text-align: center;
}
#process .content .p-extend {
    padding: 3em;
    font-size: 0.825rem;
    background: #f1f0d2;
}

#process .content p {
    color: #707072;
    font-size: 14px;
    padding: 0 2em;
}

#banner > div > div {
    flex: 1 0 50%;
    height: 33vh;
}

#banner > div > div:last-child {
    position: relative;
}

.banner-img-bg {
    position: absolute;
    top: 0;
    right: 0px;
    /* background: linear-gradient(
        171deg,
        rgb(190 207 104 / 2%) 38%,
        rgb(190 255 132) 100%
    ); */
    background: linear-gradient(
        171deg,
        rgb(190 207 104 / 2%) 38%,
        rgb(5 102 173) 100%
    );
    -webkit-clip-path: polygon(0 0, 57% 0, 100% 44%, 100% 100%);
    clip-path: polygon(0 0, 57% 0, 100% 44%, 100% 100%);
    width: 100vw;
    height: 500px;
    z-index: -1;
    overflow: hidden;
}

#banner .player {
    position: absolute;
    right: 30px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scaleX(-1);
    overflow: visible;
    top: -30px;
}

#gallery .content {
    display: flex;
    gap: 1em;
    width: 100%;
    overflow-x: auto;
}
#gallery .content > div {
    flex: 1 0 30%;
}
#gallery .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-us {
    padding-bottom: 2em;
}
#about-us .section-title {
    text-align: center;
    color: #000;
}
#about-us .content p {
    color: #707072;
    font-size: 14px;
    word-break: keep-all;
}

#sponsors {
    /* background-color: #000; */
    padding-bottom: 2em;
}
.sponsor-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 0;
}
.sponsor-logos img {
    flex: 1 1 30%;
    object-fit: contain;
    width: 50px;
    height: 100%;
}
.sponsor-logos img:last-child {
    filter: saturate(0%) brightness(0%) contrast(100%);
}
.sponsor-logos img:hover {
    transform: scale(1.2);
}
footer {
    background-color: #000;
    padding: 4em 1em;
}

footer * {
    color: #a1a4a7;
    text-transform: uppercase;
}
footer p {
    font-size: 0.725rem;
}

footer h5 {
    margin: 0;
}
footer a {
    text-decoration: none;
}
footer ul {
    list-style: none;
    padding: 0;
}

footer .title,
footer .company {
    color: #fff;
}

footer .content {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

footer .content > div {
    flex: 1 0 45%;
}

footer .shortcut-links,
footer .contact {
    font-size: 0.825rem;
}

footer .links {
    display: flex;
}
footer .links a {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
}

.table {
    width: 100%;
    font-size: 0.725rem;
    text-align: center;
}
.table th {
    padding: 0.3rem 0.5rem !important;
}
.table td {
    padding: 0.3rem 0.5rem !important;
}
.table TH {
    padding: 0.7rem !important;
}
.td-country {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.td-country * {
    flex: 0;
}
.td-country img {
    /* width: 10px; */
    flex: 1;
    max-width: 30px;
}

.image-view {
    position: fixed;
    z-index: 100;
    top: 0;
    display: none;
    height: 100vh;
    background-color: #000000de;
}

.image-view.active {
    display: grid;
    place-items: center;
}

.image-view img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.image-wrapper {
    position: relative;
    width: 100%;
    /* height: 450px; */
}

.image-slider {
    height: 100%;
}

.image-slider .slide {
    position: relative;
    width: 100%;
    /* height: 450px; */
}

.image-slider .slick-prev {
    top: 50%;
    left: 20px;
    z-index: 1;
}
.image-slider .slick-next {
    top: 50%;
    right: 20px;
}
.image-slider .slick-prev::before,
.image-slider .slick-next::before {
    font-size: 30px;
    opacity: 0.5;
    font-family: inherit;
}

.image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-slider .slick-next {
    top: 50%;
    right: 30px;
}
.image-slider .slick-prev {
    top: 50%;
    left: 0;
}
.image-slider .slick-prev::before,
.image-slider .slick-next::before {
    font-size: 80px;
    opacity: 1;
    font-family: inherit;
}
.slick-prev:before {
    content: '<' !important;
}
.slick-next:before {
    content: '>' !important;
}

.sidebar-active {
    overflow: hidden;
}
.sidebar-active header {
    /* background-color: #0566ad;
    background-color: #03783d; */
    background-color: #e8e8e8;
}
.sidebar-active .menu-icon rect {
    /* background-color: #0566ad;
    background-color: #03783d; */
    fill: #000;
}

.sidebar-active nav ul {
    right: 0;
}
.sidebar-active .logo-wrapper {
    top: -190px;
}
